/*Se pega la liga de la fuente que se utilizará*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/*-------------------Se agregan los estilos a body-------------------------------*/

body {
    background-image: url(https://previews.123rf.com/images/christianp/christianp1502/christianp150200001/36248585-codificaci%C3%B3n-virus-inform%C3%A1tico.jpg);
    -webkit-animation: marquee 100s infinite linear;
}

@-webkit-keyframes marquee {
    0% {
        background-position: 20;
    }
    100% {
        background-position: -10000px;
    }
}

body::after {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    height: 110%;
}

body * {
    position: relative;
    z-index: 1;
}


/*-------------------Se agregan los estilos al header---------------------------*/

header {
    width: 45%;
    height: auto;
    color: #FFF;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto Mono', monospace;
    ;
    text-align: center;
    padding: 0.1%;
    opacity: 0.9;
    display: block;
    margin: auto;
    font-size: 70%;
}


/*header::after {
    content: "";
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
}

header * {
    position: absolute;
    z-index: 1;
}*/


/*---------------------Se agregan los estios al main---------------------------*/

main {
    /*display: flex;
    flex-flow: row wrap;
    flex-direction: column;*/
    width: 45%;
    justify-content: space-between;
    height: auto;
    column-gap: 20px;
    /*min-height: calc(100vh -20vh -100px);*/
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*border-radius: 40px;*/
    opacity: 0.9;
    font-family: 'Roboto Mono', monospace;
    color: linen;
    display: block;
    margin: auto;
}

.instrucciones ol {
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    line-height: 22px;
}

.instrucciones ol li {
    text-align: justify;
    font-size: 15px;
    margin-left: 7%;
    margin-right: 8%;
    margin-top: 1%;
}


/*-------------input & button---------------*/

.botones {
    text-align: center;
    line-height: 220%;
    margin-left: 10%;
    margin-right: 10%;
}

.botones input {
    flex-wrap: wrap;
    max-width: 80%;
}

::placeholder {
    text-align: center;
    background-color: rgb(65, 59, 59);
    color: #FFF;
}

#chooseNumber {
    background-color: #FFF;
    width: 100%;
    padding: 0.5%;
}

#toCipher {
    width: 100%;
    padding: 5%;
    margin-top: 3%;
}

#code,
#decode {
    background-color: rgb(35, 66, 35);
    border-radius: 25%;
    padding: 1%;
    margin-top: 5%;
    opacity: .9;
}

#code:hover,
#decode:hover {
    background-color: green;
    color: #FFF;
    cursor: pointer;
    padding: 1.5%;
}


/*--------cita y línea divisoria-----------*/

.linea {
    border-top: 1px solid black;
    height: 2px;
    width: 88%;
    padding: 0;
    margin: 20px auto 0 auto;
}

main section {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    font-size: 16px;
}


/*--------------------------------F O O T E R----------------------------------*/

footer {
    width: 45%;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative;
    color: linen;
    text-align: center;
    padding-bottom: 1%;
    /*border-radius: 20px;*/
    opacity: 0.9;
    font-family: 'Roboto Mono', monospace;
    display: block;
    margin: auto;
    font-size: 14px;
}

#social {
    /*display: flex;
    flex-wrap: wrap;*/
    list-style-type: none;
    justify-content: center;
    font-size: 13px;
    line-height: 135%;
    margin-top: 1%;
}

#social a {
    font-size: 13px;
    margin: 1.5px;
    color: rgb(12, 12, 141);
    position: relative;
}

#social a i {
    color: rgba(156, 156, 160, 0.767);
}

@media only screen and (min-width: 320px) {
    header {
        width: 80%;
        height: 500%;
        margin-top: 10%;
        font-size: 100%;
    }
    main {
        width: 80%;
    }
    .instrucciones ol {
        padding-top: 15px;
        font-size: 32px;
        line-height: 40px;
    }
    .instrucciones ol li {
        text-align: justify;
        font-size: 25px;
        margin-left: 7%;
        margin-right: 8%;
        margin-top: 1%;
    }
    .botones {
        text-align: center;
        line-height: 220%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .botones input {
        flex-wrap: wrap;
        max-width: 80%;
        padding: 10%;
    }
     ::placeholder {
        text-align: center;
        background-color: rgb(65, 59, 59);
        color: #FFF;
        font-size: 20px;
        padding: 20%;
    }
    #chooseNumber {
        background-color: #FFF;
        width: 100%;
        padding: 2%;
    }
    #toCipher {
        width: 100%;
        padding: 10%;
        margin-top: 3%;
    }
    #code,
    #decode {
        background-color: rgb(35, 66, 35);
        border-radius: 25%;
        padding: 3%;
        margin-top: 5%;
        opacity: .9;
    }
    #code:hover,
    #decode:hover {
        background-color: green;
        color: #FFF;
        cursor: pointer;
        padding: 3.5%;
    }
    footer {
        width: 80%;
        background: #000000;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #414345, #232526);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #414345, #232526);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        position: relative;
        color: linen;
        text-align: center;
        padding-bottom: 1%;
        /*border-radius: 20px;*/
        opacity: 0.9;
        font-family: 'Roboto Mono', monospace;
        display: block;
        margin: auto;
        font-size: 28px;
    }
    #social {
        /*display: flex;
    flex-wrap: wrap;*/
        list-style-type: none;
        justify-content: center;
        font-size: 25px;
        line-height: 60%;
        margin-top: 1%;
    }
    #social a {
        font-size: 13px;
        margin: 1.5px;
        color: rgb(12, 12, 141);
        position: relative;
    }
    #social a i {
        color: rgba(156, 156, 160, 0.767);
    }
}
